* {
    margin: 0;
    padding: 0;
    color: black;
}

#a1 {
    width: 80%;
    height: 70px;
    padding-left: 23px;
    padding-top: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
    box-shadow: 0px 0px 1500px 0px #DDDDDD;
    float: left;
    z-index: 1;

}

#top {
    /* background: linear-gradient(to right,#6495ED,mistyrose);
           -webkit-background-clip: text;
           color: transparent; */
    color: #000000;
}

#a2 {
    width: 18%;
    height: 70px;
    float: left;
    margin-bottom: 10px;
    padding-top: 20px;
    margin-top: 5px;
    box-shadow: 0px 0px 1500px 0px #DDDDDD;
    z-index: 1;
}

#aa1, #aa2, a1 {
    width: 35%;
    height: 45px;
    float: left;
    margin-right: 10px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 20px 0px #DCDCDC;
}

#aa2 a, #aa1 a, #a1 a {
    font-size: larger;
    width: 100%;
    height: 42px;
    color: #000000;
    line-height: 42px;
    text-decoration: none;
}

#aa1 a:hover {
    color: #AFEEEE;
}

#aa2 a:hover {
    color: #AFEEEE;
}

#tab1 {
    float: left;
    width: 220px;
    height: 550px;
    text-align: left;
    margin-top: 0px;
    box-shadow: 10px 10px 10px #dce2eb,
    -10px -10px 10px #f7f8f8;;
    background: #ecf0f3;
    margin-left: 5px;
    box-shadow: 0px 0px 35px 0px #DDDDDD;
}

#tab2 {
    float: left;
    width: 100%;
    height: 170px;
    text-align: center;
    border-bottom: 1px solid #DDDDDD;
    color: #DDDDDD;
}

#t2 {
    height: 150px;
    width: 100%;
}

#t2 tr th {
    height: 30px;
    font-size: x-large;
}

img {
    border: 0;
}

#img1 {
    margin-top: 5px;
    border-radius: 50%;
}

ul, li {
    list-style-type: none;
}

a {
    color: #ecf0f3;
    text-decoration: none;
}

a:hover {
    color: #AFEEEE;
    text-decoration: underline;
}

.treebox {
    width: 100%;
    margin: 0px auto;
    background-color: #ecf0f3;
}

.menu {
    overflow: hidden;
    border-color: #ddd;
    border-style: solid;
    border-width: 0 1px 1px;
}

/*第一层*/
.menu li.level1 > a {
    display: block;
    height: 47px;
    line-height: 47px;
    color: black;
    padding-left: 50px;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    position: relative;
    transition: all .5s ease 0s;
    box-shadow: inset 1px 1px 2px #dce2eb, 4px 4px 2px #f7f8f8;
}

#mg {
    height: 100px;
    background-color: #ecf0f3;
    text-align: center;
    width: 200px;
}

.menu li.level1 a:hover {
    text-decoration: none;
    background: -webkit-linear-gradient(left, #ecf0f3, #DCDCDC); /* border: 2px solid #000000; */
}

.menu li.level1 a.current {
    background: -webkit-linear-gradient(top, #ecf0f3, #F5F5F5);
}

/*============修饰图标*/
.ico {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: 20px;
    top: 13px;
    background-repeat: no-repeat;

}

/*============小箭头*/
.level1 i {
    width: 20px;
    height: 10px;

    background-repeat: no-repeat;
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
}

.level1 i.down {
    background-position: 0 -10px;
}

.ico1 {
    background-position: 0 0;
}

.ico2 {
    background-position: 0 -20px;
}

.ico3 {
    background-position: 0 -40px;
}

.ico4 {
    background-position: 0 -60px;
}

.ico5 {
    background-position: 0 -80px;
}

/*第二层*/
.menu li ul {
    overflow: hidden;
}

#xinxi {
    visibility: visible;
}

.menu li ul.level2 {
    display: none;
    background: #ecf0f3;
}

.menu li ul.level2 li a {
    display: block;
    height: 45px;
    line-height: 45px;
    color: black;
    text-indent: 60px;
    /*border-bottom: 1px solid #ddd; */
    font-size: 17px;
    transition: all 1s ease 0s;
}

#zhu {
    width: 80%;
    height: 550px;
    float: left;
    margin-left: 5px;
    box-shadow: 0px 0px 35px 0px #DDDDDD;
    z-index: 0;
}